.ds, .DS_store,dir_to_ignore/Temp1,
Temp1/tile-starter.rkt

Temp1/glue-starter.rkt

Temp1/evaluation-prims-starter.rkt

Temp1/compare-images-starter.rkt

Temp1/arithmetic-expression-starter.rkt

Temp1/foo-evaluation-starter.rkt

Temp1/overlay-starter.rkt

Temp1/week 2/yell-starter.rkt

Temp1/week 2/make-box-starter.rkt

Temp1/week 2/ensure-question-starter.rkt

Temp1/week 2/cartesian-starter.rkt

Temp1/week 2/boxify-starter.rkt

Temp1/week 1/tile-starter.rkt

Temp1/week 1/overlay-starter.rkt

Temp1/week 1/glue-starter.rkt

Temp1/week 1/foo-evaluation-starter.rkt

Temp1/week 1/evaluation-prims-starter.rkt

Temp1/week 1/compare-images-starter.rkt

Temp1/week 1/arithmetic-expression-starter.rkt
